<mat-toolbar  color="primary">
    <button mat-icon-button class="example-icon"
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()">    
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    <span>Products</span>
</mat-toolbar> 

<mat-sidenav-container>
    <mat-sidenav #sidenav>        
    <button mat-button class="menu-button" routerLink="/products" (click)="sidenav.toggle()">
        <mat-icon>info</mat-icon>
        <span>List Products</span>
      </button>
  
      <mat-divider></mat-divider>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
